.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.profile.edit-profile {
    padding: 24px 40px;
}

.icon {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    margin-bottom: 16px;
    background-color: #ffffff;
}

.profile.edit-profile .icon{
    margin-bottom: 0;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    color: #a1a0a0;
    margin-bottom: 8px;
}

.email {
    font-size: 12px;
    color: #a1a0a0;
}

.edit {
    display: flex;
    align-items: center;
    margin: 8px 0 0;
    padding: 4px 16px;
    font-size: 12px;
    border: 1px solid #eeeeee;
    background-color: #ffffffff;
    border-radius: 40px;
    color: #4b4b4b;
    appearance: none;
}

.edit img {
    margin-right: 4px;
}


.post-cats {
    display: flex;
    justify-content: center;
}


.post-cats .inner{
    max-width: 1000px;
    background-color: #ffffff;
    margin: 0 16px;
    padding: 24px;
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
}

.post-cats .title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.post-cats .list {
    display: flex;
    flex-wrap: wrap;
    gap: 2px 0.5%;
}

.post-cats .list .item {
    width: 33%;
    aspect-ratio: 1;
    box-sizing: border-box;
}

.post-cats .list .item .image{
    object-fit: cover;
    position: relative !important;
    width: 100% !important;
    vertical-align: middle;
}

.profile-edit {
    background-color: #ffffff;
    padding: 0 24px;
    font-size: 14px;
}

.profile-edit .block {
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;
    border-bottom: 1px solid #eeeeee;
}

.profile-edit .block:last-child {
    border-bottom: none;
}

.profile-edit .block dt{
    font-weight: bold;
}