html,
body {
  padding: 0;
  margin: 0;
  background-color: #f9f9fb;
  color: #4b4b4b;
  font-family: 游ゴシック体,YuGothic,游ゴシック medium,yu gothic medium,YuGothicM,yu gothic,メイリオ,Meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,Osaka,ms pゴシック,ms pgothic,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,ol {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
